@use '../abstracts/variables' as *;

*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: $background;
    color: $text;
    font-family: Inter, sans-serif;
}

button,
input {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}