@use '../../../styles/abstracts/variables' as *;

.input-group {
    display: flex;
    flex-direction: column;
    gap: .45rem;
    width: 100%;
}

.input-label {
    font-size: .95rem;
    color: $text;
    font-weight: 500;
}

.input-wrapper {
    position: relative;
    width: 100%;
}

.input {
    width: 100%;
    box-sizing: border-box;

    padding: .9rem 3rem .9rem 1rem;
    background: $surface;
    color: $text;
    border: 1px solid $border;
    border-radius: $radius;
    outline: none;
    transition: $transition;

    &::placeholder {
        color: $text-secondary;
    }

    &:focus {
        border-color: $primary;
    }

    &--error {
        border-color: #ef4444;
    }
}

.password-eye {
    position: absolute;
    top: 50%;
    right: .9rem;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.25rem;
    height: 1.25rem;

    padding: 0;
    border: none;
    background: transparent;

    color: $text-secondary;
    cursor: pointer;

    transition: $transition;

    &:hover {
        color: $text;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.input-error {
    color: #ef4444;
    font-size: .8rem;
}