@use '../../../styles/abstracts/variables' as *;

.input-group {
    display: flex;
    flex-direction: column;
    gap: .45rem;
    width: 100%;
}

.input-label {
    font-size: .95rem;
    color: $text;
    font-weight: 500;
}

.input {
    padding: .9rem 1rem;
    background: $surface;
    color: $text;
    border: 1px solid $border;
    border-radius: $radius;
    outline: none;
    transition: $transition;

    &::placeholder {
        color: $text-secondary;
    }

    &:focus {
        border-color: $primary;
    }

    &--error {
        border-color: #ef4444;
    }
}

.input-error {
    color: #ef4444;
    font-size: .8rem;
}