.reset-password-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    color: #3a9d5d;
  
    font-size: 14px;

}

.reset-password-error {
    color: #d64545;
    font-size: 14px;
    text-align: center;
    margin: 0;
    font-size: 14px;
}