.forgot-password-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.forgot-password-error {
    margin: 0;
    color: #d64545;
    font-size: 14px;
    text-align: center;
}

.forgot-password-success {
    margin: 0;
    color: #3a9d5d;
    font-size: 14px;
    text-align: center;
}

.forgot-password-footer {
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
}

.forgot-password-footer a:hover{
    color: #f59e0b;
}

.forgot-password-footer a {
    text-decoration: none;
}