@use '../../styles/abstracts/variables' as *;

.register-form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.register-error {
    color: #ff5b5b;
    text-align: center;
}

.register-footer {
    margin-top: 1.5rem;
    text-align: center;
    color: rgba(255, 255, 255, .65);

    a {

        color: white;
        margin-left: .35rem;
        text-decoration: none;
        font-weight: 600;
        transition: .25s;

        &:hover {

            color: $primary;

        }

    }

}