@use '../../styles/abstracts/variables' as *;

.register-page {
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background: $background;

    padding: 2rem;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.register-error {
    color: #ef4444;
    font-size: .9rem;
}